.carousel {
	margin: 1rem 0 2rem 0;
	border-radius: 0.75rem;
	width: 100%;
	aspect-ratio: 3 / 2;

	// arrows
	:global(.swiper-button-prev),
	:global(.swiper-button-next) {
		color: white;
		transform: scale(0.75);
	}

	// bullets
	:global(.swiper-pagination-bullet-active) {
		background-color: white;
	}
}
